<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<style>
  body {
    padding: 0 30px 0 30px;
  }

  * {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  }

  header {
    text-align: center;
    width: 75%;
    border-bottom: 1px solid #d2d2d2;
    margin: auto;
    padding-bottom: 20px;
  }

  img {
    display: block;
    margin: auto;
    width: 300px;
    padding-bottom: 20px;
  }

  p {
    margin: 0;
  }

  p.date {
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .body p {
    margin-top: 20px;
  }

  .body {
    margin-top: 30px;
  }
</style>

<header>
  <img src="https://static1.squarespace.com/static/5383a11ae4b05a0167512da7/t/543aa94de4b06f81e20a87cd/1413130573820/" alt="choral chameleon logo">

  <p>Vince Peterson, Artistic Director</p>
  <p>199 Carroll St. Brooklyn, NY 11231</p>
  <p>www.choralchameleon.com | contact@choralchameleon.com</p>
</header>

<p class="date"><%= Date.today.strftime("%B %-d, %Y") %></p>

<p>Michael Squitieri</p>
<p>375 76th ST. Apt. 2B</p>
<p>Brooklyn, NY 11209</p>

<div class="body">
  <p>We acknowledge, with thanks, your combined contribution of $800.00 which you have so generously contributed to Choral Chameleon in the year 2017.</p>
  <p>Choral Chameleon is recognized as a nonprofit organization and public charity by the IRS. No goods or services were provided in exchange for this contribution.</p>
  <p>IRS Code: Section 501(c) (3).  Tax Identification Number: 26-3793632</p>
</div>

<h4>Thank you!</h4>

<p>Michael Squitieri</p>
<p>Treasurer</p>
<p>michael@choralchameleon.com</p>